@import '../../assets/utils/styling/mixins.scss';
@import '../../assets/utils/styling/variables.scss';

.error {
    @include flexbox(column, center, center);
    @include setDimensions(100vw, 100vh);
    @include setLinearGradient(to bottom, $gradientFrom, $gradientTo);

    &__content {
        width: 80%;
        @include flexbox(column, center, center);

        &__logo {
            width: 200px;
            margin-bottom: 20px;
    
            &:hover {
                cursor: pointer;
            }
        }
    
        &__message {
            text-shadow: 3px 3px $pokemonBlue;
            text-align: center;
            @include setTextAttributes($fontBold, 18px, $pokemonYellow);
            @include mediaQuery('min', 'md') {
                font-size: 22px;
            }
    
        }
    }
}