@import './fonts.scss';

//COLORS

$gradientFrom: #47837A;
$gradientTo: #96D57F;
$pokemonBlue: #4573E9;
$pokemonRed: #F76A6A;
$pokemonYellow: #F8D423;

//FONTS

$fontBold: 'Roboto-Bold';
$fontItalic: 'Roboto-Italic';
$fontLight: 'Roboto-Light';
$fontRegular: 'Roboto-Regular';