@import './fonts.scss';

//COLORS

$gradientFrom: #47837A;
$gradientTo: #96D57F;

//FONTS

$fontBold: 'Roboto-Bold';
$fontItalic: 'Roboto-Italic';
$fontLight: 'Roboto-Light';
$fontRegular: 'Roboto-Regular';