@import '../../assets/utils/styling/mixins.scss';
@import '../../assets/utils/styling/variables.scss';

.home {
    width: 100%;
    min-height: 100vh;
    @include setLinearGradient(to bottom, $gradientFrom, $gradientTo);

    &__logo-container, &__title-container, &__game-cards-container {
        -webkit-animation: display 1s  linear;
        -moz-animation: display 1s  linear;
        -o-animation: display 1s  linear;
        animation: display 1s  linear;
    }

    &__logo-container {
        padding: 20px 0px;
        @include flexbox(column, center);

        &__logo {
            width: 300px;
            @include mediaQuery('max', 'md') {
                width: 200px;
            }
        }
    }

    &__title-container {
        margin: 20px 0px;
        @include flexbox(column, center);

        &__title {
            text-shadow: 3px 3px $pokemonBlue;
            text-align: center;
            @include setTextAttributes($fontBold, 32px, $pokemonYellow);
            @include mediaQuery('max', 'md') {
                font-size: 18px;
            }
        }
    }

    &__game-cards-container {
        width: 85%;
        margin: auto;
        padding: 40px 0px;
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 1fr;

        @include mediaQuery('min', 'md') {
            grid-template-columns: 0.5fr 0.5fr;
        }
        @include mediaQuery('min', 'lg') {
            grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
        }
        @include mediaQuery('min', 'xl') {
            width: 60%;
        }
    }

    @keyframes display {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}