@import '../../assets/utils/styling/mixins.scss';
@import '../../assets/utils/styling/variables.scss';

.game-details {
    width: 100%;
    min-height: 100vh;
    @include setLinearGradient(to bottom, $gradientFrom, $gradientTo);

    &__header, &__information, &__pokemon-list {
        -webkit-animation: display 1s  linear;
        -moz-animation: display 1s  linear;
        -o-animation: display 1s  linear;
        animation: display 1s  linear;
    }

    &__header {
        @include flexbox(column, center, center);

        &__logo {
            width: 200px;
            margin-bottom: 10px;
        }

        &__title {
            text-shadow: 3px 3px $pokemonBlue;
            @include setTextAttributes($fontBold, 32px, $pokemonYellow);
            @include mediaQuery('max', 'md') {
                font-size: 18px;
            }
        }
    }

    &__information {
        width: 90%;
        margin: 40px auto;
        display: grid;
        grid-gap: 15px; 
        grid-template-columns: 0.5fr 0.5fr;
        @include mediaQuery('min', 'md') {
            width: 80%;
            grid-gap: 20px;
            grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
        }
        @include mediaQuery('min', 'lg') {
            width: 80%;
            grid-gap: 40px;
            grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
        }
        @include mediaQuery('min', 'xl') {
            width: 60%;
        }
    }

    &__pokemon-list {
        margin: auto;

        &__title-container {
            margin: 30px 0px;
            @include flexbox(column, center);

            &__title {
                text-shadow: 3px 3px $pokemonBlue;
                @include setTextAttributes($fontBold, 32px, $pokemonYellow);
                @include mediaQuery('max', 'md') {
                    font-size: 18px;
                }
            }
        }

        &__content {
            width: 80%;
            margin: auto;
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr;
            @include mediaQuery('min', 'md') {
                width: 90%;
                grid-template-columns: 0.5fr 0.5fr;
            }
            @include mediaQuery('min', 'lg') {
                width: 90%;
                grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
            }
            @include mediaQuery('min', 'xl') {
                width: 70%;
            }
        }
    }

    @keyframes display {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}